@import '../../style/index.less';

@image-prefix-cls: ~'@{ming-prefix}-image';

.size() {
  width: 100%;
  height: 100%;
}

.@{image-prefix-cls} {
  display: inline-block;

  &-inner {
    .size;
  }

  &-placeholder,
  &-error {
    .flex-center-both;
    .size;
    color: @M4;
    background-color: @M6;
    word-break: break-all;
  }
}
